body { 
margin: 0; 
color: #fff; 
height: 3000px; 
background-color: rgb(161, 129, 0); 
} 
img{ 
height: 250px; 
width: 100%; 

} 

h1{
  margin: 0 auto;
  color: #000000; 
  margin-top: 10px; 
  text-align: center;
}

.slider { 
position: relative; 
overflow: hidden; 
max-width: 1100px; 
margin:0 auto; 
} 

.slider__wrapper { 
position: relative; 
overflow: hidden; 
} 
.slider__items { 
display: flex; 
transition: transform 0.6s ease; 
} 

.slider__item { 
flex: 0 0 100%; 
max-width: 50%; 

} 
.slider__control { 
position: absolute; 
top: 50%; 
display: none; 
align-items: center; 
justify-content: center; 
width: 40px; 
color: #fff; 
text-align: center; 
opacity: 0.5; 
height: 50px; 
transform: translateY(-50%); 
background: rgba(0, 0, 0, 0.5); 
} 

.slider__control_show { 
display: flex; 
} 

.slider__control:hover, 
.slider__control:focus { 
color: #fff; 
text-decoration: none; 
outline: 0; 
opacity: 0.9; 
} 

.slider__control_prev { 
left: 0; 
} 

.slider__control_next { 
right: 0; 
} 
.slider__control::before { 
content: ''; 
display: inline-block; 
width: 20px; 
height: 20px; 
background: transparent no-repeat center center; 
background-size: 100% 100%; 
} 

.slider__control_prev::before { 
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); 
} 

.slider__control_next::before { 
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); 
} 

.slider__indicators { 
position: absolute; 
right: 0; 
bottom: 10px; 
left: 0; 
z-index: 15; 
display: flex; 
justify-content: center; 
padding-left: 0; 
margin-right: 15%; 
margin-left: 15%; 
list-style: none; 
margin-top: 0; 
margin-bottom: 0; 
} 

.slider__indicators li { 
box-sizing: content-box; 
flex: 0 1 auto; 
width: 30px; 
height: 4px; 
margin-right: 3px; 
margin-left: 3px; 
text-indent: -999px; 
cursor: pointer; 
background-color: rgba(255, 255, 255, 0.5); 
background-clip: padding-box; 
border-top: 10px solid transparent; 
border-bottom: 10px solid transparent; 
} 

.slider__indicators li.active { 
background-color: #fff; 
} 

.img-fluid { 
display: inline-block; 
height: auto; 
max-width: 100%; 
} 
@media screen and (min-width:900px) 

{ 
.slider__item { 
flex: 0 0 100%; 
max-width: 25%; 
} 

.slider { 
position: relative; 
overflow: hidden; 
margin-left: auto; 
margin-right: auto; 
} 

.slider__wrapper { 
position: relative; 
overflow: hidden; 
} 
.slider__items { 
display: flex; 
transition: transform 0.6s ease; 
} 

}